.logo {
    font-weight: bold;
    font-size: 1.25rem;
    background: -webkit-linear-gradient(#b7a8a4, #095f62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--cardColor);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
    .logo {
      font-size: 1.25rem;
    }
}
@media only screen and (max-width: 480px){
    .logo{
        font-size: 0.95rem;
    }
}